::selection {
  background: #65951E;
  color: white; }

@media (max-width: 1000px) {
  .center-md {
    text-align: center !important; }
    .center-md h3 {
      text-align: center; }
      .center-md h3 a {
        text-align: center;
        float: none !important; }
    .center-md .downBox .comment, .center-md .downBox .time {
      float: none !important; }
    .center-md .line {
      margin: 0 auto; } }
#bar {
  background: #111111;
  color: white;
  line-height: 50px; }
  #bar .fa-user-plus {
    margin-left: 20px; }
  #bar a {
    color: white;
    text-decoration: none; }
    #bar a:hover {
      text-decoration: none;
      color: white; }

#menu {
  height: 95px;
  border-bottom: 1px solid #DEDEDE; }
  #menu .logo img {
    height: 90px;
    float: left; }
  #menu .computer li {
    display: inline-block;
    line-height: 95px;
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    padding: 0 30px; }
  #menu .computer a {
    color: #212121;
    text-decoration: none;
    transition: all .2s ease; }
    #menu .computer a:hover {
      color: #7CB342; }
  #menu .fa-bars {
    display: none;
    font-size: 30px;
    padding-top: 30px; }
  #menu .mobile {
    background: #8BC34A;
    z-index: 99999;
    padding-top: 19px;
    padding-bottom: 19px;
    height: 500px;
    overflow: auto;
    margin-top: 20px;
    display: none; }
    #menu .mobile li {
      display: block;
      font-size: 20px;
      width: 100%;
      text-align: center;
      margin-left: -19px; }
      #menu .mobile li:hover {
        background: white; }
        #menu .mobile li:hover a {
          color: #8BC34A; }
      #menu .mobile li a {
        color: white;
        text-decoration: none; }

.activeMenu {
  position: fixed;
  top: 0px;
  z-index: 999999;
  background: white;
  height: 60px !important; }
  .activeMenu .logo img {
    height: 57px !important; }
  .activeMenu ul li {
    line-height: 4 !important; }

#banner {
  height: 280px;
  background: url("../images/extra/banner.jpg") no-repeat 20% 50%;
  background-size: cover; }
  #banner .gray {
    background: black;
    opacity: .3;
    height: 280px;
    z-index: 99; }
  #banner .container h2 {
    position: absolute;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    color: white;
    z-index: 9998;
    font-size: 48px;
    margin-left: 20px;
    margin-top: 100px; }
  #banner .container .line {
    width: 40px;
    height: 2px;
    background: white;
    position: absolute;
    margin-left: 25px;
    margin-top: 160px;
    z-index: 9998; }

#news {
  background: #F5F5F5; }
  #news .header {
    text-align: center;
    margin-top: 100px; }
  #news .line {
    margin: 0 auto; }
  #news .col-md-4 {
    margin-top: 30px;
    margin-bottom: 30px; }
    #news .col-md-4 img {
      max-height: 250px;
      min-height: 250px; }
    #news .col-md-4 h3 a {
      color: #212121;
      text-decoration: none;
      transition: all .4s ease;
      font-family: 'Roboto',sans-serif;
      font-weight: 700; }
      #news .col-md-4 h3 a:hover {
        color: #7CB342; }
    #news .col-md-4 .downBox .comment, #news .col-md-4 .downBox .time {
      display: inline-block;
      color: #ABABAB;
      font-family: 'Roboto',sans-serif;
      font-size: 15px; }
    #news .col-md-4 .downBox .comment {
      margin-left: 20px; }
  #news .viewAll {
    border: 2px solid #212121;
    background: white;
    color: #212121;
    font-size: 15px;
    padding: 10px 15px;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    margin-bottom: 120px;
    font-weight: 550;
    transition: all .4s ease; }
    #news .viewAll:hover {
      background: #212121;
      color: white; }

@media (max-width: 990px) {
  #news .col-md-4 {
    text-align: center; }
    #news .col-md-4 img {
      margin: 0 auto; } }
@media (max-width: 450px) {
  #news .col-md-4 img {
    height: 200px; } }
@media (max-width: 380px) {
  #news .col-md-4 img {
    height: 150px; } }
#footer {
  background: #111111; }
  #footer .col-md-12 {
    border-top: 1px solid #212121;
    color: #4E4E4E;
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 25px; }

/*# sourceMappingURL=posts.css.map */
