#banner{
	height:280px;
	background:url('../images/extra/banner.jpg') no-repeat 20% 50%;
	background-size:cover;

	.gray{
		background:black;
		opacity: .3;
		height: 280px;
		z-index: 99;
	}

	.container{

		h2{
			position: absolute;
			font-family: 'Roboto',sans-serif;
			font-weight: 600;
			color:white;
			z-index: 9998;
			font-size: 48px;
			margin-left: 20px;
			margin-top: 100px;

		}

		.line{
			width:40px;
			height: 2px;
			background:white;
			position: absolute;
			margin-left: 25px;
			margin-top: 160px;
			z-index: 9998;
		}

	}
}