#bar{
	background:#111111;
	color:white;
	line-height:50px;

	.fa-user-plus{
		margin-left: 20px;
	}

	a{
		color:white;
		text-decoration: none;

		&:hover{
			text-decoration: none;
			color:white;
		}
	}
}