::selection{
	background:#7CB342;
	color:white;
}

.header{
	font-family: 'Roboto', sans-serif;
	font-weight:700;
	font-size:30px;
}
.line{
	background:#8BC34A;
	width:45px;
	height: 2px;
}
.text{
	color:#717171;
	line-height:2;
	margin-top:20px;
}
