html,body{
	background:gray;
	
	#home{
		background:green;
		font-size:20px;
		text-align: center;
		padding:0 10px;
		color:white;
		text-decoration: none;
	}

	#loginForm{
		
		margin-top: 50px;

		img{
		
			margin:0 auto;
			max-height: 150px;

		}

	}

}